<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sample Node Site</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-inverse">
            <a href="/" class="navbar-brand">Test Site by John P.</a>
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/d3testing">D3 Testing Page</a></li>
            </ul></a>
        </nav>
    </header>

    <section class="hero">
       <div class="hero-content">
            <h2>All about us!</h2>
            <p>A small team of one (1) building his first site using Node.js!</p>
                
            <a href="/" class="btn btn-lg btn-primary">Home</a>
            <a href="/d3testing" class="btn btn-lg btn-primary">Testing Page</a>
        </div>
    </section>
    

    <main>
        <div class="container">
            <div class="jumbotron text-center">About Page</div>
            <div class="picture_div" style="margin:0px; text-align:center">
                <img src="../image/Me.JPG" alt="Image of Developer">
            </div>
        </div>
    </main>

    <footer>
        Coolio Radical Stuff. Copyright &copy; 2018
    </footer>
</body>
</html>