<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sample Node Site</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://d3js.org/d3.v5.js"></script> <!Imports the d3.js library>
</head>
<body>
    <header>
        <nav class="navbar navbar-inverse">
            <a href="/" class="navbar-brand">Test Site by John P.</a>
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/d3testing">D3 Testing Page</a></li>
            </ul></a>
        </nav>
    </header>

    <div class="hero">
        <div class="hero-content">
            <h2>D3 Testing Page</h2>
            <p>Building data views using Data Driven Documents!</p>
            <a href="/" class="btn btn-lg btn-primary">Homepage</a>
        </div>
    </div>
    

    <main>
        <div class="container">
            <h1>Testing Bar Chart Using D3.js</h1>
            <svg></svg>
        </div>
    </main>
    
    <footer>
        Coolio Radical Stuff. Copyright &copy; 2018
    </footer>
</body>

<!D3 Script>
<script>
    d3.select('h2').style('color', 'orange') // Recolors header using d3 style method.
    .attr('class', 'heading');
    
    ////// BUILDING SIMPLE BAR CHART ///////
    var dataset = [80, 100, 56, 120, 180, 30, 40, 120, 160];
    // var dataset = [1, 2, 3, 4, 5];          // Smaller dataset for demonstration of scaling method.

    var svgWidth = 500, svgHeight = 300, barPadding = 5;
    var barWidth = (svgWidth / dataset.length);
    var margin = 30;
    // Establishes dimensions of svg container.
    var svg = d3.select('svg')
        .attr("width", svgWidth + 2*margin)
        .attr("height", svgHeight + 2*margin);

    // Scale values.
    var xScale = d3.scaleLinear()
        .domain([0, dataset.length])
        .range([0, svgWidth]);
    var yScale = d3.scaleLinear()
        .domain([0, d3.max(dataset)])   // Domain takes array as parameter. 0 to maximum number in the dataset.
        .range([svgHeight, 0]);         // Ensures scaled values remain within height of the svg.

    // Create axes for chart.
    var x_axis = d3.axisBottom()
        .scale(xScale);
    var y_axis = d3.axisLeft()
        .scale(yScale);

    var xAxisTranslate = (svgHeight+margin);

    svg.append("g")                     // g for "group" element.
        .attr("transform", "translate(" + margin + ", " + margin + ")")
        .call(y_axis);
    svg.append("g")                     // g for "group" element.
        .attr("transform", "translate(" + margin + ", " + xAxisTranslate +")")
        .call(x_axis);
    
    // Building the bar chart.
    var barChart = svg.selectAll("rect")    // Returns empty selection; no rectangle elements in svg.
        .data(dataset)                      // Pulls data from dataset, puts it into a "waiting state."
        .enter()                            // Takes data from waiting state to perform further operations on each item in dataset.
                                            // For each data item:    
            .append("rect")                     // Append a rectangle to the svg container.
            .attr("y", function(d) {            // Give attribute "y" - Distance from top from which to begin printing rectangle. Function takes data from dataset as parameter.
                return yScale(d);   // Obtain value by subtracting scaled data value from svg total height. Ensure svg height is above largest data value.
            })
            .attr("height", function(d) {
                return svgHeight - yScale(d);               // Return scaled height of rectangle (data value).
            })
            .attr("width", barWidth - barPadding)
            // Ensures bars print in sequential order, rather than on top of each other.
            .attr("transform", function(d, i) { 
                var translate = [(barWidth  * i) + (2*margin), margin];
                return "translate("+ translate + ")";
            });
    /*
    // Add value labels to bar chart.
    var text = svg.selectAll("text")    // Returns empty selection; no text elements in svg.
            .data(dataset)              // Pulls data into waiting state.
            .enter()                    // For each data item:
                .append("text")             // Append text element to svg.
                .text(function(d) {         // Give actual text as the element value itself.
                    return d;
                })
                .attr("y", function(d) {    // Give attribute "y", slightly above start of bar (2 pixels above).
                    return svgHeight - yScale(d) - 2;
                })
                .attr("x", function(d, i) { // Give attribute "x", starting point of the rectangle.
                    return barWidth * i;
                })
                .attr("fill", "#A64C38");   // Colors the text element.
    */
</script>
</html>