<!DOCTYPE html>
<html lang="en">
<script src="index.js"></script>
<head>
    <meta charset="UTF-8">
    <title>Sample Node Site</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-inverse">
            <a href="/" class="navbar-brand">Test Site by John P.</a>
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/d3testing">D3 Testing Page</a></li>
            </ul></a>
        </nav>
    </header>

    <section class="hero">
        <div class="hero-content">
            <h2>Welcome to the Site!</h2>
            <p>Sample text. First time using both JavaScript and HTML.</p>

            <a href="/" class="btn btn-lg btn-primary">Get Started</a>
            <a href="/about" class="btn btn-lg btn-primary">About Us</a>
            <a href="/d3testing" class="btn btn-lg btn-primary">D3 Testing Page</a>
        </div>
    </section>

    <main>
        <div class="container">
            <div class="jumbotron text-center">Home Page</div>
            <div class="picture-div" style="margin:0px; text-align:center;">
                <img src="../image/faceBoy.jpg" alt="Thumbs Up, Homie"></div>
        </div>
    </main>

    <footer>
        Coolio Radical Stuff. Copyright &copy; 2018
    </footer>
</body>
</html>